
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8em;
    width:  100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-style: normal

}
.title{
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}
#tiona{
    height: 100px;
    width: 50%;
}
#sank{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
    
    
}
li{
    padding:5px;
    margin-bottom: 2px;
}
a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: blue;
    background-color: aqua;
}
.rien{
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px  rgba(0,0,0,0.1);
}
#tout{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f0ee;
}
.card{
    background-color: #f8fafb;
    border-radius: 10px;
    box-shadow: 0 0 5px  rgba(0,0,0,0.1);
    width: 300px;
    height: auto; 
    transition: transform 0.3 ease;
}

.card:hover{
    color: rgb(188, 157, 157);
    
}

.image{
    width: 100%;
    height: 200px;
}
.card-title{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.card-text{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    font-size: 14;
    line-height: 1.4;
    color: #666;
}
.card-price{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    font-size: 18px;
    color: #0c0b0b;
    font-weight: bold;
    text-align: center;
}
.add-to-card{
    display: block;
    padding: 10px;
    color: #f3f3ef;
    width: 100%;
    height: auto;
    background-color: #0c0b0b;
}
.add-to-card:hover{
   background-color: aqua; 
}

